<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add book</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/books/add/">Add Book</a>
        </li>
      </ul>
    </nav>

    <main>
      <h1>Add Book</h1>
      <form method="POST" action="/books/book">
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="author" placeholder="Autor" />
        <button type="submit">Add book</button>
      </form>
    </main>
  </body>
</html>
